<li><a class="dropdown-item" href="/admin/mercenaries">傭兵清單</a></li>
<li><a class="dropdown-item" href="/admin/bosses">王寵清單</a></li>
<li><a class="dropdown-item" href="#">關卡清單</a></li>
<li><a class="dropdown-item" href="/admin/mercenary/create">新增傭兵</a></li>
<li><a class="dropdown-item" href="/admin/boss/create">新增王寵</a></li>
<li><a class="dropdown-item" href="#">新增關卡</a></li>