<li><a class="dropdown-item" href="/visitor/mercenaries">傭兵清單</a></li>
<li><a class="dropdown-item" href="/visitor/bosses">王寵清單</a></li>
{{#if user}}
<li><a class="dropdown-item" href="/admin/mercenary/create">新增傭兵</a></li>
<li><a class="dropdown-item" href="/admin/boss/create">新增王寵</a></li>
<li><a class="dropdown-item" href="/user/mercenaries">我的傭兵</a></li>
{{/if}}