<div class="title">
  <h1>梅露可物語</h1>
  <h3>傭兵模擬器</h3>
</div>
<div class="container">
  <div class="user">
    <a class="item" href="/user/login">登入</a>
    <a class="item" href="/user/register">註冊</a>
    <a class="item" href="/visitor/mercenaries">遊客</a>
  </div>
</div>